<mat-card>
    <h1>Search Course</h1>
    <form #searchForm="ngForm" >
        <mat-form-field>
            <mat-label>Course Code</mat-label>
            <input 
            matInput 
            type="text" 
            name="catalog_nbr" 
            ngModel
            #catalog_nbr="ngModel">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Subject</mat-label>
            <input 
            matInput 
            type="text" 
            name="subject" 
            ngModel
            #subject="ngModel">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Component</mat-label>
            <input 
            matInput 
            type="text" 
            name="ssr_component" 
            ngModel
            #ssr_component="ngModel">
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" >Search</button>
    </form>
</mat-card>