<mat-card>
    <h1>Search Course</h1>
    <form>
        <mat-form-field>
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Course Code" value="Sushi">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Subject" value="Sushi">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Component" value="Sushi">
        </mat-form-field>
        <button mat-raised-button color="accent" >Search</button>
    </form>
</mat-card>